@import 'foundation.scss';

@include foundation-everything;

body {
    // color: $white;
    // background: darken($primary-color, 37%);
}

// FOUNDATION

.top-bar {
    border-bottom: 1px solid $dark-gray;
}

.pagination a {
    background-color: $dark-gray;
}



// UTILS

$spacing-y: 30px;

.padding-y {
    padding-top: $spacing-y;
    padding-bottom: $spacing-y;
}

.padding-top {
    padding-top: $spacing-y;
}

.padding-bottom {
    padding-bottom: $spacing-y;
}

.margin-y {
    margin-top: $spacing-y;
    margin-bottom: $spacing-y;
}

.margin-top {
    margin-top: $spacing-y;
}

.margin-bottom {
    margin-bottom: $spacing-y;
}


// TOPBAR

.top-bar .button {
    margin-bottom: 0;
}

.list-header {
    // font-weight: bold;
}

.songs-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.artists-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.song-tag-list {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        display: inline-block;
        margin-right: 10px;
    }
}

.tag-button {
    input {
        display: none;

        + label {
            display: inline-block;
            padding: 20px;
            background: $dark-gray;
            color: $light-gray;
            width: 100%;
            text-align: center;
            margin: 0;
        }

        &:checked + label {
            background: $primary-color;
            color: $white;
        }
    }
}


.glossy-button {
  display: inline-block;
  position: relative;
  background-color: #AAA;
  background-image: linear-gradient( /* chrome */
    hsla(0, 0%, 100%, 0.6), hsla(0, 0%, 100%, 0) 50%,
    hsla(0, 0%, 0%, 0.3) 50%, hsla(0, 0%, 100%, 0.2)
  );
  // font-size: 22px;
  // font-family: sans-serif;
  font-weight: bold;
  color: white;
  padding: 20px 40px;
  text-shadow:
    0 0 15px hsla(0, 0%, 100%, 1), /* bloom */
    0 2px 4px hsla(0, 0%, 0%, 0.7); /* drop shadow */
  border: none;
  border-radius: 50px;
  // margin: 10px;
  margin: 0 0 1rem 0;
  box-shadow:
    inset 0 -5px 20px hsla(0, 0%, 0%, 0.4), /* top light */
    inset 0 5px 20px hsla(0, 0%, 100%, 0.4), /* bottom shadow */
    /* multiple light sources yall */
    -8px 8px 5px hsla(0, 0%, 0%, 0.15), /* drop shadow 1 */
    5px 18px 10px hsla(0, 0%, 0%, 0.2); /* drop shadow 2 */
  cursor: pointer;
  transition: transform 0.1s, box-shadow 0.1s;
}

/* highlight */
.glossy-button:before {
  content: '';
  display: block;
  position: absolute;
  left: 20px;
  right: 20px;
  top: 5px;
  height: 30px;
  border-radius: 15px;
  background: linear-gradient(
    hsla(0, 0%, 100%, 0.8), hsla(0, 0%, 100%, 0) );
}

.glossy-button--primary { background-color: $primary-color; }
.glossy-button--secondary { background-color: $secondary-color; }
// .glossy-button--green { background-color: #6C6; }
// .glossy-button--red { background-color: #E21; }

// .glossy-button:hover {
//   transform: scale(1.05);
//   box-shadow:
//     inset 0 -5px 20px hsla(0, 0%, 0%, 0.4), /* top light */
//     inset 0 5px 20px hsla(0, 0%, 100%, 0.4), /* bottom shadow */
//     /* multiple light sources yall */
//     -12px 12px 5px hsla(0, 0%, 0%, 0.15), /* drop shadow 1 */
//     10px 25px 10px hsla(0, 0%, 0%, 0.2); /* drop shadow 2 */
// }
